.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


/*Вся шапка*/
.header {
  position: relative;
  display: flex;
  margin: auto;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color:  #f2f2f2;
}


/* Лого яндекс практикум*/
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
  z-index: 2;
}


/*Заголовок Научиться учиться*/
.header__title {  
  align-self: center;
  position: relative;
  width: 730px;
  left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 4;
}


/*какие современные и тд*/
.header__subtitle {
  position: absolute;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  z-index: 3;
}


/*Опять двойка*/
.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}


/*Квадрат*/
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
  z-index: 0;
}






/*СЕКЦИЯ DESCRIPTION*/

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}


.two-columns {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  margin: auto;
  width: 80%;
}


.two-columns__first-description {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 175px;

}

.two-columns__brief {
  min-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;

}

.two-columns__second-description {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  font-weight: normal;
}

.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
}


.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}





/*СЕКЦИЯ DIGITS*/

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

/*Цифры и факты*/

.section-title {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}


/*Про учёбу и мозг*/

.section-subtitle {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}


/*табличка*/

.table {  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 100px;
  width: 1100px;
}


.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
}



/*ФЕЙНМАН*/

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/images/feynman.png");
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  height: 890px;
  margin-top: 100px;
  background-color:  #f2f2f2;
}


/*Метод фейнмана*/
.feynman__title {
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}


/*Выучить и не забыть*/
.feynman__subtitle {
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

/*Ссылка*/
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}




/*КАУФМАН*/

.kaufman {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
}


/*Принципы*/
.section__title_theme_dark {
  margin-top: 90px;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  z-index: 1;
  color: aliceblue;
}


/*от Джоша Кауфмана*/
.section__subtitle_theme_dark {
  width: 60%;
  margin-bottom: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
  color: aliceblue;
}


/*таблица*/
.table__theme_dark {
  justify-content: space-between;
  margin: auto;
  margin-bottom: 90px;

  z-index: 1;
}


/*клетки*/
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}  


.kaufman__triangle {
  position: absolute;
  background-image: url("/images/kaufman-triangle.svg");
  background-size: 877px 877px;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: 0;
}





/*FOOTER*/

.footer {
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}


/*таблица*/
.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px auto;
}



/*1 столбец*/
.footer__columns_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;

}


/*Яндекс практикум*/
.logo_place_footer {
  width: 228px;
  height: 32px;
}


/*Павел Альтапов*/
.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: aliceblue;

}





/*о практикуме / соцсети*/
.footer__column-heading {
  margin-bottom: 20px;
  color: aliceblue;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;

}


/*названия ссылок*/
.footer__column-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
  color: aliceblue;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}


/*Youtube\VKontakte\TikTok*/
.footer__column-link {
  color: aliceblue;
}



/*иконки приложений*/
.footer__social_icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}